# Firebase Configuration
VITE_FIREBASE_PROJECT_ID=gen-lang-client-0180326066
VITE_FIREBASE_APP_ID=1:556506697035:web:29abe62903b63d4e616cce
VITE_FIREBASE_API_KEY=AIzaSyCoLc-M7WParGv4xU3VfSo87e6dL2_CRow
VITE_FIREBASE_AUTH_DOMAIN=gen-lang-client-0180326066.firebaseapp.com
VITE_FIREBASE_FIRESTORE_DB_ID=ai-studio-0aafbec5-bf86-4232-9077-c0f0bf4c70f5
VITE_FIREBASE_STORAGE_BUCKET=gen-lang-client-0180326066.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=556506697035

# Gemini AI Configuration
VITE_GEMINI_API_KEY=YOUR_GEMINI_API_KEY_HERE
